.signup {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

#logo {
  height: 7rem;
  padding: 3rem;
}

#register {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  font-size: inherit;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

form button {
  font-size: inherit;
  color: white;
  background-color: #131115;
  width: 70%;
  border-radius: 2rem;
  padding: 0.6rem;
}
