.mainDiv {
    background-color: #FF6663;
    /* height: 100vh; */
    /* position: fixed; */
}

.dashDiv {
    background-color: white;
    width: 100vw;
    /* height: 73vh; */
    border-radius: 25px 25px 0 0;
    margin-top: 4vh;
    position: sticky;
    /* position: relative; */
}

.dashboardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 0 20px;
}

.dashboardLogo {
    width: 20%;
}

.dashboardLogo img {
    width: 50%;
    height: 50%;
    border-radius: 50px 50px;
}

.welcomeHeader {
    color: white;
    font-size: 1.8em;
    font-family: inherit;
}

.name {
    font-size: 1.5em;
}

.storeUrl {
    padding: 10px 20px 0 20px;
}

#storeUrl {
    font-size: 1.2rem;
    color: yellow;
}

/* .Footer {
    height: 29vh;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0 40px;
} */

.icons {
    font-size: 2em;
}

#addStore {
    font-size: 3.7em;
}

.iconFlex {
    text-align: center;
    padding-top: 10px;
}

.iconFlex p {
    padding-top: 3px;
}

.content {
    text-align: center;
    padding-top: 18px;
    height: 100vh;
}

.Cards {
    width: 80vw;
    height: 25vh;
    background: linear-gradient(#2334CC, #6323CC);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    /* overflow: auto; */
}

.Cards2 {
    width: 80vw;
    height: 25vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    background: linear-gradient(rgb(189, 44, 104), rgb(255, 88, 191));
    /* overflow: auto; */
}

#cards {
    overflow: scroll;
    /* height: inherit; */
}

.Card2 {
width: 90vw;
margin: 0 auto;
height: 10vh;

background: #EDF7FF;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
border-radius: 10px 10px 10px 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.PaneFlex {
    margin-left: 10px;
    padding-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}


.StoreTitle, .StorePrice {
text-align: left;
line-height: 120%;
}

.StoreTitle p {
    font-size: 12px;
}

.StoreTitle h2 {
    font-size: 15px;
}

.StorePrice {
text-align: right;
}

.StorePrice h2 {
    font-size: 15px;
    color: #44B400;
}

.earnings {
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.currency {
    font-size: 2rem;
    font-weight: normal;
    color: white;
}

.share {
    margin-top: 1rem;
}