.mainDiv {
    background-color: #FF6663;
    height: 100vh;
    position: fixed;
}

.dashDiv {
    background-color: white;
    width: 100vw;
    height: 73vh;
    border-radius: 25px 25px 0 0;
    margin-top: 4vh;
    /* position: sticky; */
    position: relative;
}

.welcomeHeader {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 1.8em;
    font-family: inherit;
}

.name {
    font-size: 1.5em;
}

#storeUrl {
    font-size: 0.8em;
    color: yellow;
}

.Footer {
    height: 29vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0 40px;
}

.icons {
    font-size: 2em;
}

#addStore {
    font-size: 3.7em;
}

.iconFlex {
    text-align: center;
    padding-top: 10px;
}

.iconFlex p {
    padding-top: 3px;
}

.content {
    text-align: center;
    padding-top: 18px;
}

.Cards {
    width: 80vw;
    height: 25vh;
    background: linear-gradient(#2334CC, #6323CC);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
}

.Cards2 {
    width: 80vw;
    height: 25vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    background: linear-gradient(rgb(189, 44, 104), rgb(255, 88, 191));
}

#cards {
    overflow: scroll;
}

.Card2 {
    background-color: #EDF7FF;
    width: 85vw;
    height: 10vh;
    margin: 0 auto;
    border-radius: 
}