.cart-header {
    height: 9vh;
    padding: 10px;
    font-size: 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    @media only screen and (min-width: 768px){
        background-color: @secondary ;
    }

    i {
        font-size: 24px;
    }
    
    .logo {
        text-align: left;
        
        img {
            width: 40px;
            height: auto;
            border-radius: 50%;
        }
    }

    .total {
        text-align: center;
        font-weight: bold;
    }

    .icon {
        text-align: right;
        padding-right: 10px;

        sup {
            background-color: gold;
            color: black;
        }
    }

    a {
        z-index: 1500;
    }
}

.color {
    background-color: @secondary;
  
}