.cart-header {
    height: 7vh;
    padding: 10px;
    font-size: 2rem;
    background-color: #FF6663;
    i {
        font-size: 24px;
    }
    
    .logo {
        text-align: left;
        
        img {
            width: 40px;
            height: auto;
            border-radius: 50%;
        }
    }

    .total {
        text-align: center;
        font-weight: bold;
    }

    .icon {
        text-align: right;
        padding-right: 10px;

        sup {
            background-color: gold;
            color: black;
        }
    }
}