.ant-upload-list {
  max-width: 85vw;
}

//Photo Component Sytling
.photoContainer {
  background: white;
  border-radius: 4px;
  padding: 20px 25px;
  max-width: 400px;

  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .singleProductImage {
    .productImage {
      width: 100%;
      border-radius: 6px;
      max-width: 500px;
      max-height: 500px;
      box-shadow: 0px 10px 5px rgba(51, 51, 51, 0.15);
    }

    .trashIcon {
      margin-top: -50px;
    }
  }

  h4 {
    color: #999;
  }
}

#uploadButton {
  display: none;
}

.fakeUploadButton {
  padding: 12px 22px;
  background: white;
  border: solid 2px #4285f4;
  font-weight: bold;
  font-size: 14px;
  color: #4285f4;
  border-radius: 6px;
  transition: all 0.5s;
}

.buttonDisabled {
  background: lightgray;
  border: solid 2px darkgrey;
  color: darkgrey;
  transition: all 0.5s;
}
//Photo Component Sytling

.createProductContainer {
  background: white;
  border-radius: 4px;
  padding: 20px 25px;
  max-width: 795px;

  h3 {
    font-size: 18px;
    font-weight: 700;
  }

  label {
    margin: 5px 0;
    font-weight: bold;
  }

  .formContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 20px;
    margin: 10px 0px;

    .inputContainer {
      display: flex;
      flex-flow: column;
      justify-content: left;

      .productName,
      .category {
        border: solid 2px #aaa;
        padding: 14px 10px;
        color: #333;
        border-radius: 6px;
        font-size: 14px;
        transition: all 0.5s;

        &:focus {
          border: solid 2px #4285f4;
        }
      }
    }
  }
  textarea {
    width: 100%;
    border: solid 2px #aaa;
    padding: 14px 10px;
    color: #333;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.5s;

    &:focus {
      border: solid 2px #4285f4;
    }
  }
}

.dollar {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #aaa;
  .price {
    border: solid 2px #aaa;
    padding: 14px 20px;
    color: #333;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.5s;

    &:focus {
      border: solid 2px #4285f4;
    }
  }
}

.dollar:before {
  position: absolute;
  content: "$";
  left: 7px;
  top: 13px;
  font-size: 16px;
}

textarea,
select,
input,
button {
  outline: none;
}

.disabled {
  display: none;
}
