.flag {
    position: absolute;
    height: 25%;
    width: 30%;
    background-color: #000000;
    color: @secondary;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9rem;

    .stock {
        font-size: 1.3rem;
        color:white;
        font-weight: lighter;
    }
}

.small {
    width: 40%;
    height: 30%;
    font-size: 1.2rem;
}