.order-view {
  display: flex;
  flex-flow: column;
  align-items: center;

  .sales-view {
    margin-top: 5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

    div {
      margin: 2rem;
    }
  }

  .order-display {
    margin: 4.5rem;
    width: 85%;
  }
}
