.inventory {
    background-color: @grey;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .search {
        margin: 1.5rem;
    }

    .content {
        
        h2 {
            font-size: 2rem;
            color: @blue;
        }

        .ant-tabs-tab-active {
            color: @navy;
        }

        .tabs {
            color: @navy;
        }

        .block {
            background-color: white;
            box-sizing: border-box;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
    }

    .list {
        display: flex;
        justify-content: space-between;
        color: @black;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .title {
        text-transform: uppercase;
    }
}

.nav {
    display: flex;
    width: 100%;
    height: 10%;
    position: sticky;

    #nav_ul {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;

        #add {
            color: @secondary;
            font-size: 1.4rem;
            align-self: center;
        }

        li {
            width: 20%;
            height: 90%;
            margin: 0.5rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;

            .icon {
                font-size: 3rem;
            }
        }
    }
}

