.inventoryMainContainer {
	max-width: 1240px;
	width: 100%;
	margin: 100px auto;

	h1 {
		text-align: left;
	}

	.inventoryCards {
		background: white;
		margin: 4px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 25px;

		.productContainer {
			display: flex;
			align-items: center;

			img {
				width: 70px;
				height: 70px;
				background-position: 50% 50%;
				object-fit: cover;
				margin-right: 20px;
				border-radius: 6px;
			}

			h2 {
				font-weight: bold;
				font-size: 24px;
				margin: 0;
			}
			h4 {
				font-weight: bold;
				color: #787878;
				font-size: 14px;
			}
			span {
				color: #aaaaaa;
				font-weight: 400;
			}
		}
		a {
			font-size: 16px;
			color: #4285f4;
			transition: all .5s;
			font-weight: bold;

			&:hover {
				filter: brightness(130%);
			}
		}
	}
}
