.brandWrapper {
  color: black;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.addLogo {
  width: 48%;
  @media (max-width: 600px) {
    margin-bottom: 6rem;
    width: 90%;
  }
}

.addColor {
  width: 48%;
  justify-content: center;
  align-items: center;
}

.brandForms {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
  }
}

.logoPic {
  height: 100px;
  padding: 1rem;
  margin: 1rem;
}

.brandColor {
  height: '100px';
  transition: 'ease all 500ms';
}

#uploadButton {
  display: none;
}
.fakeUploadButton {
  padding: 12px 22px;
  background: white;
  border: solid 2px #25a558;
  font-weight: bold;
  font-size: 14px;
  color: #25a558;
  border-radius: 6px;
  transition: all;
}
