.cartMasterContainer {
	width: 100%;
	padding: 0px 100px;

	.tableHeader {
		background: rgba(5, 46, 117, 0.10);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 12px 25px;
		max-height: 45px;
		display: grid;
		grid-template-columns: 50% 16% 16% 16%;

		p {
			margin: 0px;
			font-weight: 700;
		}
	}

	.cartProductCard {
		display: grid;
		grid-template-columns: 50% 10% 6% 6% 10% 10% 8%;
		padding: 25px;
		background: white;
		align-items: center;

		h3 {
			font-size: 18px;
			font-weight: 700;
			color: black;
			margin: 0px;
		}

		p {
			font-size: 14px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.7);
			margin: 0;
		}

		.productSection {
			display: flex;
			align-items: center;

			.productInfo {
				margin-left: 15px;
			}
		}

		.equalsIcon {
			margin: 0 auto;
		}

		.deleteIcon {
			margin-left: auto;
			cursor: pointer;
		}
	}
}
