.cartMasterContainer {
	width: 100%;
	padding: 0 100px;

	.cartHeader {
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		justify-content: center;

		.backButton {
			font-size: 18px;
			color: #052e75;
			margin: 0;
		}

		.logoContainer {
			max-width: 150px;
			max-height: 80px;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.cartMasterContainer {
	width: 100%;
	padding: 0px 100px;

	.emptyCart {
		display: flex;
		justify-content: center;
		flex-flow: column;
		margin-top: 150px;

		h1,
		h2 {
			text-align: center;
		}
	}

	.tableHeader {
		background: rgba(5, 46, 117, 0.10);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 12px 25px;
		max-height: 45px;
		display: flex;

		p {
			margin: 0px;
			font-weight: 700;
		}

		.productTitle {
			width: 50%;
		}

		.priceTitle,
		.quantityTitle,
		.totalTitle {
			width: 20%;
		}
	}

	.cartProductCard {
		display: flex;
		justify-content: space-between;

		padding: 25px;
		background: white;
		align-items: center;

		h3 {
			font-size: 18px;
			font-weight: 700;
			color: black;
			margin: 0px;
		}

		p {
			font-size: 14px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.7);
			margin: 0;
		}

		.quantityContainer {
			display: flex;
			align-items: center;

			.quantityBTN {
				background: #052e75;
				border-radius: 100px;
				width: 24px;
				height: 24px;
				margin: 0px 8px;
				cursor: pointer;
			}

			.quantityCounter {
				border: solid 2px #cfcfcf;
				border-radius: 6px;
				width: 55px;
				height: 55px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}

		.productSection {
			display: flex;
			align-items: center;
			width: 40%;

			.cartImage {
				width: 70px;
				height: 70px;
				object-fit: cover;
				background-position: 50% 50%;
				border-radius: 4px;
			}

			.productInfo {
				margin-left: 15px;
			}
		}

		.equalsIcon {
		}

		.deleteIcon {
			cursor: pointer;
		}
	}
}
