.seller-account h2 {
  padding-top: 5rem;
  font-size: 2.3rem;
  color: #6f95b4;
}

.seller-account h3 {
  font-size: 1.8rem;
  padding-top: 1rem;
  color: #505050;
}

.seller-account #subheader {
  font-size: 1.5rem;
}
.seller-account .main {
  padding-top: 2rem;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.seller-account .Card {
  margin-top: 5rem;
  width: 90vw;
  margin: 5rem auto;
  border-radius: 1rem 0px 1rem 1rem;
  box-shadow: -0.2rem 0.1rem 1.4rem -0.5rem rgba(65, 75, 87, 0.2);
}

.seller-account #stripeID {
  color: rgb(19, 168, 19);
}
