.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.large_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}

.ant-card-body {
    padding: 1rem !important;
}