.inventory {
  height: auto;
}

.store-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.large_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}

.small-label {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
}

.ant-card-body {
    padding: 1rem !important;
}
