.welcomeForm {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.errorWelcome {
  color: red;
  @media (max-width: 600px) {
    text-align: center;
    margin: 0 auto;
  }
}

.infoColumns {
  display: flex;
  justify-content: space-around;
  @media (max-width: 600px) {
    width: 95%;
    flex-direction: column;
  }
}

.middleWelcomeFields {
  background: white;
  padding: 10px 0;
  width: 49%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    width: 95%;
  }
}

.fieldsChar {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 10px;
  @media (max-width: 600px) {
    width: 95%;
    flex-direction: row;
    margin: 0 auto;
  }
}

.curbHoursSection {
  background: white;
  padding: 10px 0;
  width: 49%;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    width: 95%;
  }
}

.labelFont {
  font-size: 1.8rem;
  color: black;
  @media (max-width: 600px) {
    text-align: center;
  }
}

.addBranding {
  display: flex;
  background: #25a558;
  border-radius: 2px;
  color: white;
  margin: 2rem auto;
}

.welcomeHeader {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  margin: 1.5rem auto;
  text-align: center;
}

.welcomeP {
  margin: 0 auto;
}
