.profileViewContainer {
  h1 {
    top: 10rem;
    position: relative;
    font-weight: bold;
  }
}

.profileViewWrapper {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 10rem;
  position: relative;
  align-items: center;

  .firstWrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background: white;
    width: 50%;
    padding: 2rem;

    .logoContainer {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      h3 {
        align-self: flex-start;
        margin-left: 4rem;
        font-weight: bold;
        font-size: 2rem;
      }
      img {
        border: solid;
        width: 80%;
      }
      input {
        color: black;
        width: 90%;
        background-color: white;
        font-weight: bold;
        padding: 2rem;
      }
      button {
        border-radius: 2px;
        &:hover {
    
          transition: 0.3s box-shadow;
          box-shadow: 0 0 6px rgba(0, 0, 0, 1);
        }
      }
    }

    .colorContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      padding: 2rem;
      h3{
        align-self: flex-start;
        margin-left: 4rem;
        font-weight: bold;
        font-size: 2rem;
      }
      .colorPicker {
        width: 100%;
        margin-bottom: 1rem;
        &:hover {
           transform: scale(1.01);
        }
      }
      button {
        border-radius: 2px;
        margin-top: 1rem;
        &:hover {
        
          transition: 0.3s box-shadow;
          box-shadow: 0 0 6px rgba(0, 0, 0, 1);
        }
      }
    }
  }
  
  .formContainer {
    background: white;
    width: 100%;
    margin-left: 6rem;
    height: 62rem;
    padding: 1rem;
    h3 {
      padding: 1rem;
      font-weight: bold;
      margin:0;
    }
    form {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      width: 100%;
      main {
        display: flex;
        .firstSection {
        padding: 1rem;
          width: 100%;
        }
        .secondSection {
          padding: 1rem;
        }
      }
      label {
        font-size: 1.5rem;
        font-weight: bold;
      }
      input {
        width: 100%;
        border-radius: 4px;
        background-color: white;
        border: 0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        transition: 0.3s box-shadow;
        font-weight: bold;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        &:hover {
          transition: 0.3s box-shadow;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        }
      }

      button {
        border-radius: 2px;
        margin-top: 2rem;
        width: 50%;
        align-self: center;
        &:hover {
          transition: 0.3s box-shadow;
          box-shadow: 0 0 6px rgba(0, 0, 0, 1);
        }
      }
      .thirdSection {
        padding: 1rem;
      }
    }
  }
  }
