

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  


  .form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .flex-container .inline {
    width: 80px !important;
    margin: 9px 9px 9px 0;
  }
  
  .flex-container .small {
    height: 20px !important;
    line-height: 20px !important;
  }
  
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }
  
  .am-list-header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #0b3954;
    font-size: 1.3rem;
  }
  
  input,
  input::placeholder {
    text-align: center;
    color: #0b3954 !important;
    font-family: "Lato", sans-serif;
  }
  
  .am-list-body::before,
  .am-list-body::after {
    background-color: white !important;
  }
  
  .am-button {
    background-color: #131115;
    border-radius: 3rem !important;
    width: 70%;
  }
  
  #or-log-in {
    font-size: 1rem;
  }
  
  #or-log-in a {
    text-decoration: underline;
  }
  
  #root > 
  div > form > 
  div > div.form > 
  div > div.am-list-body > 
  div > div:nth-child(n) > 
  div > div.am-input-label {
    width: 2rem;
  }
  
  #logo img {
    width: 7rem;
  }
  

  @media screen and (min-width: 992px) {
    .flex-container {
      background-color: rgb(255, 255, 255);
    }

    .form {
      margin: 0 30vw;
      box-shadow: #0b3954;
    }

    .am-button {
      width: 30vw;
      border-radius: 5px !important;
    }

    .form {
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
      padding: 3em;
    }

    #root > 
  div > form > 
  div > div.form > 
  div > div.am-list-body > 
  div > div:nth-child(n) > 
  div > div.am-input-label {
    width: 15rem;
  }

  .am-list-header {
    font-family: "Montserrat", sans-serif;
    color: #0b3954;
    font-size: 2rem;
  }

  }