form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
}

.instructions {
    text-align: left;
    margin-bottom: 1rem;
}

.am-list-item.am-input-item.am-list-item-middle {
    width: 100%;
    margin: 0;
    padding: 0;
}

.am-list-item .am-list-line {
    padding: 0;
}

.am-list-item .am-input-label.am-input-label-5 {
    width: 25px;
}