h2 {
    padding-top: 50px;
    font-size: 23px;
    color: #6f95b4;
}

h3 {
    font-size: 18px;
    padding-top: 10px;
    color: #505050;
}

#subheader{
    font-size: 15px;
}
.main {
    padding-top: 20px;
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.Card {
    margin-top: 50px;
    width: 90vw;
    margin: 50px auto;
    border-radius: 10px 0px 10px 10px;
    box-shadow: -2px 1px 14px -5px rgba(65,75,87,0.2);
}

#stripeID {
    color: rgb(19, 168, 19);
    /* font-size: 25px; */
}